@using Incoding.Block.IoC
@using Incoding.CQRS
@using Operations.Query
@{
    ViewData["Title"] = "Home Page";
}
@{
    foreach (var user in IoCFactory.Instance.TryResolve<IDispatcher>().Query(new GetUsersQuery()))
    {
        <h3>@user.Age : @user.Name</h3>
    }
}

<form asp-action="CreateUserCommand">
    Login :<input name="Login"/>
    Password: <input name="Password"/>
    <input type="submit">
</form>